.accordeon-section__title-box {
  position: relative;

  display: flex;
  align-items: center;
}

.accordeon-section__title {
  margin: 0;
  padding: 0;
}

.accordeon-section__toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  width: 100%;

  font-size: 0;
  text-align: left;

  background-color: transparent;
  border: none;

  $properties-for-transition: color, background-color, opacity;

  @include transition-settings($properties-for-transition);


  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 15px;

    display: none;

    width: 16px;
    height: 1px;

    background-color: #c4c4c4;

    $properties-for-transition: background-color, opacity, transform;

    @include transition-settings($properties-for-transition);
  }

  &::before {
    transform: translateY(-50%);
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);
  }
}

.accordeon-section__toggle-button--tab-open {
  &::after {
    transform: translateY(-50%);
  }
}


/*
*** Стили для интерактивности ***
*/
.accordeon-section__toggle-button:focus {
  outline: none;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--layout-intermediate) {
  .accordeon-section__title-box {
    min-height: 71px;
  }

  .accordeon-section__title {
    display: none;
  }

  .accordeon-section__toggle-button {
    display: block;

    font-family: $additional-font;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    line-height: 16px;
    text-transform: uppercase;
  }

  .accordeon-section__toggle-button--js-active {
    padding: 0;
    padding-right: 15px;
    padding-left: 15px;

    cursor: pointer;


    &::before,
    &::after {
      display: block;
    }
  }

  .accordeon-section .accordeon-section__tab {
    padding-top: 4px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 27px;

    &--js-active {
      display: none;
    }

    &--tab-open {
      display: block;
    }
  }


  /*
  *** Стили для интерактивности ***
  */
  .accordeon-section__toggle-button:hover,
  .accordeon-section__toggle-button:focus {
    color: $white;
    background-color: $main-site-color;
  }

  .accordeon-section__toggle-button:hover::before,
  .accordeon-section__toggle-button:hover::after,
  .accordeon-section__toggle-button:focus::before,
  .accordeon-section__toggle-button:focus::after {
    background-color: $white;
  }

  .accordeon-section__toggle-button:active,
  .accordeon-section__toggle-button:active {
    opacity: 0.7;
  }
}
