.company-years {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $footer-gray--translucent;
  text-transform: uppercase;

  &--top {
    display: none;

    margin: 0;
    padding: 0;
  }

  &--bottom {
    display: block;
  }
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--tablet) {
  .company-years {
    &--top {
      display: block;

      padding-top: 16px;
      padding-left: 16px;
    }

    &--bottom {
      display: none;
    }
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--layout-intermediate) {
  .company-years {
    &--top {
      padding-top: 26px;
      padding-left: 2px;
    }
  }
}
