.goods-and-services {
  margin-top: 88px;
}

.goods-and-services__title {
  margin: 0;
  padding: 0;

  font-family: $additional-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  color: $white;
}

.goods-and-services__list {
  @include markerless;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;

  margin: 0 auto;
  margin-top: 52px;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .goods-and-services {
    margin-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .goods-and-services__title {
    margin-left: 5px;

    font-size: 32px;
    line-height: 45px;
  }

  .goods-and-services__list {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 46px;

    margin-top: 49px;
    padding-right: 9px;
    padding-left: 6px;
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--tablet) {
  .goods-and-services {
    padding-right: 6px;
    padding-left: 9px;
  }

  .goods-and-services__title {
    padding-left: 11px;

    font-size: 28px;
    line-height: 39px;
  }

  .goods-and-services__list {
    grid-row-gap: 30px;
    margin-top: 42px;
  }
}
