.main-screen {
  position: relative;
  display: flex;

  min-height: 620px;

  margin-top: 173px;
}

.main-screen__decorative-link {
  position: absolute;
  bottom: 128px;
  left: -21px;
  transform: rotate(-90deg);
  z-index: 2;

  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: $white;
  text-decoration: none;

  opacity: 0.5;
}

.main-screen__content {
  z-index: 1;

  width: 100%;
  max-width: 730px;

  padding-top: 58px;
}

.main-screen__title {
  margin: 0;
  padding: 0;

  font-family: $additional-font;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.main-screen__description {
  position: relative;

  margin: 0;
  margin-top: 26px;
  padding: 0;
  padding-left: 99px;

  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  color: $white;


  &::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 5px;

    display: block;

    width: 66px;
    height: 2px;

    background-color: $white;
  }
}

.main-screen__callback-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 407px;
  min-height: 55px;

  margin-top: 44px;
  margin-left: 99px;
  margin-bottom: 40px;

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;

  background-color: $main-site-color;
  border-color: $main-site-color;

  $properties-for-transition: background-color, border;

  @include transition-settings($properties-for-transition);


  &--mobile {
    display: none;
  }
}

.main-screen__image-box {
  position: relative;

  width: 0;
  height: 0;

  margin-left: 40px;
}

.main-screen__image {
  position: absolute;


  &--background {
    top: 14px;
    left: 33px;

    width: 611px;
    height: 487px;
  }

  &--main {
    top: 0;
    left: 20px;

    width: 705px;
    height: 515px;
  }
}

.main-screen__image img {
  width: 100%;
  height: 100%;
}


/*
*** Стили для интерактивности ***
*/
.main-screen__decorative-link:hover,
.main-screen__decorative-link:focus {
  color: $main-site-color;
  text-decoration: underline;
}

.main-screen__decorative-link:active {
  opacity: 0.7;
}

.main-screen__callback-button:hover,
.main-screen__callback-button:focus {
  background-color: transparent;
  border-color: $white;
}

.main-screen__callback-button:active {
  opacity: 0.7;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта до брейкпоинта для "Десктопа" ***
@media (max-width: $width--desktop) {
  .main-screen__image {
    &--background {
      top: 150px;
      left: -400px;
    }

    &--main {
      top: -135px;
      left: -200px;
    }
  }
}


// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--tablet) {
  .main-screen {
    min-height: 556px;
    margin-top: 58px;
    padding-left: 88px;
  }

  .main-screen__decorative-link {
    display: none;
  }

  .main-screen__content {
    max-width: 530px;
  }

  .main-screen__title {
    font-size: 60px;
    line-height: 70px;
  }

  .main-screen__description {
    margin-top: 29px;
    padding-left: 50px;

    font-size: 18px;
    line-height: 28px;


    &::before {
      top: 16px;
      left: 3px;

      width: 33px;
    }
  }

  .main-screen__callback-button {
    max-width: 379px;

    margin-top: 55px;
    margin-left: 51px;
  }

  .main-screen__image {
    &--background {
      top: -48px;
      left: -201px;


      width: 482px;
      height: auto;
    }

    &--main {
      top: -17px;
      left: -148px;

      width: 465px;
      height: 340px;
    }
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--layout-intermediate) {
  .main-screen {
    min-height: 419px;

    margin-top: 171px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .main-screen__title {
    font-size: 40px;
    line-height: 47px;
  }

  .main-screen__description {
    margin-top: 26px;
    padding-left: 51px;

    font-size: 16px;
    line-height: 25px;
  }

  .main-screen__callback-button {
    display: none;
    margin: 0 auto;
    margin-top: 42px;

    &--mobile {
      display: flex;
    }
  }

  .main-screen__image-box {
    margin-left: 0;
  }

  .main-screen__image {
    &--main {
      top: -136px;
      left: -279px;

      width: 301px;
      height: 220px;
    }

    &--background {
      top: -157px;
      left: -136px;

      width: 456px;
      height: 366px;
    }
  }
}
