.product-card a {
  position: relative;
  display: block;
  width: auto;
  min-height: 256px;
  margin: 0 auto;
  text-decoration: none;
  background-color: #c4c4c4;

  $properties-for-transition: transform, opacity;

  @include transition-settings($properties-for-transition);


  &::before,
  &::after {
    content: "";
    position: absolute;

    $properties-for-transition: background-color;

    @include transition-settings($properties-for-transition);
  }

  &::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba($body-background-color, 0.7);
  }

  &::after {
    right: 0;
    bottom: 0;

    width: 63px;
    height: 63px;

    background-color: $main-site-color;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 14px;
  }
}

.product-card h3 {
  position: absolute;
  top: 50px;
  left: 45px;

  width: auto;
  max-width: 170px;

  margin: 0;
  padding: 0;

  font-family: $additional-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $white;
}

.product-card img {
  width: 100%;
  max-width: 370px;
  min-width: 290px;
  height: auto;
  min-height: 256px;
}


/*
*** Стили для интерактивности ***
*/
.product-card a:hover,
.product-card a:focus {
  transform: translateY(6px);
}

.product-card a:hover::before,
.product-card a:focus::before {
  background-color: rgba($body-background-color, 0.6);
}

.product-card a:active {
  transform: scale(0.98);
  opacity: 0.7;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .product-card h3 {
    top: 40px;
    left: 44px;
  }

  .product-card img {
    max-width: 100%;
    max-height: 256px;
    object-fit: cover;
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--layout-intermediate) {
  .product-card h3 {
    top: 20px;
    left: 35px;
  }
}
