.service-info {
  display: flex;
  justify-content: space-between;

  padding-top: 65px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 16px;
}

.service-info__column {
  display: flex;
  flex-wrap: wrap;

  &--first {
    margin-right: 40px;
  }

  &--last {
    justify-content: space-between;

    width: 100%;
    max-width: 990px;
  }
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .service-info {
    flex-direction: column;
    padding: 0;
  }

  .service-info__column {
    flex-direction: row;
    justify-content: space-between;

    padding-right: 4px;
    padding-left: 26px;

    border-bottom: 1px solid rgba(#626962, 0.2);


    &--first {
      margin: 0;
      padding-top: 19px;
      padding-bottom: 25px;
    }

    &--last {
      max-width: 100%;

      padding-top: 38px;
      padding-right: 17px;
      padding-bottom: 36px;
    }
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--layout-intermediate) {
  .service-info__column {
    padding: 0;
  }

  .service-info__title-box {
    display: flex;
    justify-content: space-between;
  }
}
