.site-footer {
  width: 100%;
  min-height: 317px;

  padding-right: 8px;
  padding-left: 8px;

  background-color: $white;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .site-footer {
    padding: 0;
  }
}
