.site-main-content {
  overflow-x: hidden;
}

.site-main-content__company-info {
  padding-top: 110px;
  padding-bottom: 99px;
  background-color: $white;
}

.site-main-content__callback-form {
  margin-top: 127px;
  padding-top: 91px;
  padding-bottom: 113px;

  background-color: $main-site-color;
}


/*
==================================
--------- МЕДИАВЫРАЖЕНИЯ ---------
==================================
*/

// *** ширина вьюпорта "Планшет" ***
@media (max-width: $width--desktop) {
  .site-main-content__company-info {
    padding-top: 54px;
    padding-bottom: 80px;
  }

  .site-main-content__callback-form {
    margin-top: 78px;
    padding-top: 80px;
    padding-bottom: 104px;
  }
}


// *** ширина вьюпорта "Мобильный" ***
@media (max-width: $width--tablet) {
  .site-main-content__company-info {
    padding-top: 40px;
    padding-bottom: 65px;
  }

  .site-main-content__callback-form {
    margin-top: 64px;
    padding-top: 30px;
    padding-bottom: 41px;
  }
}
