// === ИМПРОТИРОВАННЫЕ ФАЙЛЫ СТИЛЕЙ ===
@import "variables.scss";

// === ГЛОБАЛЬНЫЕ СТИЛИ ===
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

// === МОБИЛЬНАЯ ВЕРСИЯ ===
body {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $white;

  // *** Для устранения горизонтальных скроллов в IE 11, Edge и Safari ***
  overflow-x: hidden;
}

// --- Настройка для автоматического "прилипания" футера к низу страницы ---
footer {
  margin-top: auto;
}


// === Класс для доступного сокрытия элементов ===
.visually-hidden {
  width: 1px;
  height: 1px;

  position: absolute;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
