// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 768px;
$width--desktop: 1024px;

$width--max: 1424px;


// *** для Шрифтов ***


// *** для Цветов ***
$white: #FFFFFF;
$black: #000000;

$start-screen-background-color: #1B2931;
