// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 749px;
$width--desktop: 1023px;

$width--inner-box: 1170px;
$width--max: 1424px;


// *** для Шрифтов ***
$default-font: "PT Mono", "Arial", sans-serif;
$additional-font: "Roboto Condensed", "Arial", sans-serif;


// *** для Цветов ***
$white: #FFFFFF;
$black: #000000;
$black--translucent: rgba($black, 0.5);

$main-site-color: #00B2FF;
$body-background-color: #1B2931;
$footer-gray: #1B2D37;
$footer-gray--translucent: rgba($footer-gray, 0.5);
