// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 767px;
$width--desktop: 1023px;

$width--max: 1424px;


// *** для Шрифтов ***


// *** для Цветов ***
$white: #FFFFFF;
$black: #000000;
$black--translucent: rgba(0, 0, 0, 0.5);

$main-site-color: #00B2FF;

$start-screen-background-color: #1B2931;
